In [50]:
print (type(420) )
print (type(420.) )
print (type(420.5) )

<class 'int'>
<class 'float'>
<class 'float'>

In [51]:
suma = 0
suma = suma + 5
print (suma)
suma = suma + 6
print (suma)
suma += 7
print (suma)

5
11
18

In [52]:
sandauga = 1
sandauga *= 10
print (sandauga)
sandauga *= 4.5
print (sandauga)
sandauga **= 2 # kelimas kvadratu
print (sandauga)

10
45.0
2025.0

In [53]:
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana:', n_1%n_2)
print('sveikoji dalis dalybos:', n_1//n_2)
print(n_1/n_2)

27
19
92
dalybos liekana: 3
sveikoji dalis dalybos: 5
5.75

In [54]:
n_1= 23.2
n_2= 4.63

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana:', n_1%n_2)
print('sveikoji dalis dalybos:', n_1//n_2)
print(n_1/n_2)
print (10/5)
print (10./5.)
print (5/2)

27.83
18.57
107.416
dalybos liekana: 0.04999999999999982
sveikoji dalis dalybos: 5.0
5.010799136069115
2.0
2.0
2.5

In [55]:
dist_moon = 384000 # km
dist_sun = 150000000 # km
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [56]:
car_speed = 150 # km/h
print('valandu:', dist_moon/car_speed)

valandu: 2560.0

In [57]:
loginis_kintamasis = True
print (type(loginis_kintamasis))
print (loginis_kintamasis)

<class 'bool'>
True

In [58]:
print ( int(loginis_kintamasis) )
print ( int(False) )

1
0

In [59]:
number = 50
print ( 10 > 5 )
print ( 10 < 5 )
print ( 10 < 10 )
print ( 10 <= 10 )
print ( 10 >= 10 )
print ('50 == number:', 50 == number ) # = - priskiria verte, == - palygina
print ('100 == number:', 100 == number )
print ('100 != number:', 100 != number ) # != nera lygus
print ('90 != number:', 90 != number ) # != nera lygus
print ('50 != number:', 50 != number ) # != nera lygus

True
False
False
True
True
50 == number: True
100 == number: False
100 != number: True
90 != number: True
50 != number: False

In [60]:
print (' bool(1654):', bool(1654) )
print (' bool(0):', bool(0) )
print (' bool(-1):', bool(-1) )
print (' bool(0.000001):', bool(0.000001) )

 bool(1654): True
 bool(0): False
 bool(-1): True
 bool(0.000001): True

In [61]:
print (" bool('tekstas'):", bool('tekstas') )
print (" bool(''):", bool('') )
print (" bool(' '):", bool(' ') )

 bool('tekstas'): True
 bool(''): False
 bool(' '): True

In [62]:
print ('10 < 5 :', 10 < 5)
print ('10 > 8 :', 10 > 8)
print ('10 < 5 and 10 > 8:', 10 < 5 and 10 > 8)
print ('10 < 50 and 10 > 8:', 10 < 50 and 10 > 8)

print ('10 < 5 or 10 > 8:', 10 < 5 or 10 > 8)
print ('10 < 50 or 10 > 8:', 10 < 50 or 10 > 8)

# not - duoda priesinga atsakyma
print (not 5 > 10)
print (not True)
print (not False)

10 < 5 : False
10 > 8 : True
10 < 5 and 10 > 8: False
10 < 50 and 10 > 8: True
10 < 5 or 10 > 8: True
10 < 50 or 10 > 8: True
True
False
True

In [67]:
print( "Vilnius" in 'Vilnius, Kaunas' )
print( "Klaipeda" in 'Vilnius, Kaunas' )
print( "s" in 'Vilnius, Kaunas' )
print( "Kau" in 'Vilnius, Kaunas' )
print( "kaunas" in 'Vilnius, Kaunas' )

True
False
True
True
False

In [69]:
print (True == 1)
print (False == 0)

True
True

In [71]:
print (1==1)
print (2>1)
print (not 1>2)
print ("a" in "abc")
print (bool(12))
print (not 's' in 'Lova')
print (not 's' in 'Lova' and 2>1)

True
True
True
True
True
True
True

In [73]:
print (0==1)
print (2>10)
print (not 10>2)
print ("d" in "abc")
print (bool(0))
print ( 's' in 'Lova')
print (not 's' in 'Lova' and 2 > 10)

False
False
False
False
False
False
False

In [74]:
print (str(True))

True

In [75]:
float_1=2.2
float_2=3.3
print(float_1-float_2) # tai nera klaida, kompiuteriai veikia dvejetaineje sistemoje

-1.0999999999999996

# List

In [76]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda' ]

In [80]:
print (type(cities))
print (type( [] ) )
print (cities[0])
print (cities[-1] )
# slicing
print (cities[1:] )

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [81]:
cities[-1] = 'Siauliai'
print (cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [86]:
cities.append('Marijampole')
cities.append('Panevezys') # prideda kiekviena karta paleidus
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys', 'Marijampole', 'Panevezys']

In [87]:
cities.remove('Panevezys')

In [88]:
print (cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']

In [90]:
cities.append('Marijampole')
cities.append('Panevezys') # prideda kiekviena karta paleidus
print(cities)
cities.pop()
print(cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Marijampole', 'Panevezys']
['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Marijampole']

'Marijampole'

In [93]:
new_cities = ['New York', 'London']
print(cities)
cities.extend( new_cities )
print ('po extend')
print(len(cities),  cities)
cities.pop()
cities.pop()
cities.append( new_cities )
print ('po append')
print(len(cities), cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
po extend
7 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'New York', 'London']
po append
6 ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ['New York', 'London']]

['New York', 'London']

In [94]:
cities.clear()
print (cities)

[]

In [102]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
# cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', ['Panevezys', 'Panevezys'] ]
print (cities.count('Panevezys'))
print (cities.count('Pan'))
print (cities.count('Vilnius'))

2
0
1

In [103]:
print (cities.index('Panevezys') )
print (cities.index('Klaipeda') )

4

ValueError: 'Klaipeda' is not in list

In [104]:
cities.insert(2, 'Klaipeda')
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [107]:
cities.reverse()
print (cities)
print (cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [109]:
print (cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [111]:
print (cities[::-1] ) # apsuka sarasa, neperraso kintamojo
print (cities )
print (cities )

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [112]:
numbers = [5614,984,479987,3453,1,2,14,0,111]

In [116]:
numbers.sort() # didejimo
print (numbers)
numbers.sort(reverse=True) # mazejimo tvarka
print (numbers)

[0, 1, 2, 14, 111, 984, 3453, 5614, 479987]
[479987, 5614, 3453, 984, 111, 14, 2, 1, 0]

In [122]:
print (bool( [] ) )
print (bool( [5] ) )
print (bool( [False, 0, ''] ) )
print ('Vilnius' in cities )
print ('Berlin' in cities )

False
True
True
True
False

In [126]:
my_list = [1,3,58] + ['A', False]
print (my_list)
# my_list = [1,3,58] - ['A', False]

[1, 3, 58, 'A', False]

In [128]:
my_list = ['first',3,58] * 50 
print (my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

# Mutable vs. Immutable variables

In [134]:
# Immutable
number_1 = 6
number_2 = number_1
print(id(number_1))
print(id(number_2))
number_2 = 13
print('number_1:', number_1)
print('number_2:', number_2)
print(id(number_1))
print(id(number_2))

1438840390032
1438840390032
number_1: 6
number_2: 13
1438840390032
1438840390256

In [136]:
# mutable
numbers_1 = [1,5,10]
numbers_2 = numbers_1
print(id(numbers_1))
print(id(numbers_2))
numbers_2.append(13)
print('numbers_1:', numbers_1)
print('numbers_2:', numbers_2)
print(id(numbers_1))
print(id(numbers_2))

1438952743360
1438952743360
numbers_1: [1, 5, 10, 13]
numbers_2: [1, 5, 10, 13]
1438952743360
1438952743360

In [137]:
# fix 1 for mutable variables
numbers_1 = [1,5,10]
numbers_2 = numbers_1.copy()
print(id(numbers_1))
print(id(numbers_2))
numbers_2.append(13)
print('numbers_1:', numbers_1)
print('numbers_2:', numbers_2)
print(id(numbers_1))
print(id(numbers_2))

1438952780480
1438952837504
numbers_1: [1, 5, 10]
numbers_2: [1, 5, 10, 13]
1438952780480
1438952837504

In [139]:
numbers_1 = [1,5,[10, 20] ]
numbers_2 = numbers_1.copy() # will fail
print(id(numbers_1))
print(id(numbers_2))
print(id(numbers_1[2]))
print(id(numbers_2[2]))
numbers_2[2].append(13)
print('numbers_1:', numbers_1)
print('numbers_2:', numbers_2)
print(id(numbers_1))
print(id(numbers_2))

1438952747648
1438952743168
1438952742976
1438952742976
numbers_1: [1, 5, [10, 20, 13]]
numbers_2: [1, 5, [10, 20, 13]]
1438952747648
1438952743168

In [140]:
# Best fix for mutable variables
import copy

numbers_1 = [1,5,[10, 20] ]
numbers_2 = copy.deepcopy( numbers_1 )
print(id(numbers_1))
print(id(numbers_2))
print(id(numbers_1[2]))
print(id(numbers_2[2]))
numbers_2[2].append(13)
print('numbers_1:', numbers_1)
print('numbers_2:', numbers_2)
print(id(numbers_1))
print(id(numbers_2))

1438952743360
1438952772608
1438952744512
1438952833536
numbers_1: [1, 5, [10, 20]]
numbers_2: [1, 5, [10, 20, 13]]
1438952743360
1438952772608

In [141]:
sarasas=["mama", 'tetis', 'mociute']
print(sarasas)
print(len(sarasas))
sarasas.append('senelis')
print(sarasas)

['mama', 'tetis', 'mociute']
3
['mama', 'tetis', 'mociute', 'senelis']

In [142]:
sarasas = [1,3,'labas', 'geras']
sarasas.append('rytas')
print(sarasas)
print(type(sarasas))
print(len(sarasas))
print('geras' in sarasas)

[1, 3, 'labas', 'geras', 'rytas']
<class 'list'>
5
True

In [143]:
pirkiniai = ['pomidoras', 'desra', 'avokadas', 'sausainis']
print (len(pirkiniai))
pirkiniai.append('salota')
print(pirkiniai)

print ('desra' in pirkiniai)

4
['pomidoras', 'desra', 'avokadas', 'sausainis', 'salota']
True

In [152]:
list_1 = [1,5,3,9] + [4,7,9,9]
print (list_1)
list_1.pop()
print (list_1)
list_1.sort()
print (list_1)
print (list_1.count(9) )

[1, 5, 3, 9, 4, 7, 9, 9]
[1, 5, 3, 9, 4, 7, 9]
[1, 3, 4, 5, 7, 9, 9]
2

In [158]:
my_list_2 = [1, [[5416, 3], 521,4], 54]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])
print(my_list_2[1][0][1])

[1, [[5416, 3], 521, 4], 54]
[[5416, 3], 521, 4]
[5416, 3]
3

# Tuple

In [174]:
my_tuple = (1,2,3)

In [175]:
print (my_tuple)
print (my_tuple[1])
print (my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [176]:
print(my_tuple.count(3) )
print(my_tuple.index(3) )

1
2

In [177]:
# my_tuple[2] = 5 # neveiks
my_tuple = my_tuple + (5,10)
print(my_tuple)

(1, 2, 3, 5, 10)

In [178]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [181]:
combined = (1,4,4) + (5,5,5)
print (combined)
print (5 in combined)

(1, 4, 4, 5, 5, 5)
True

In [183]:
my_tuple_2 = ( 1,5,[4,8])
print (my_tuple_2)

(1, 5, [4, 8])

In [184]:
my_tuple_2[2].append(100)
print (my_tuple_2)

(1, 5, [4, 8, 100])

In [189]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[3][1][1] )
print(my_tuple[-1][-1][-1] )

8
8

In [193]:
tuple_1 = (11, [222, 33], 44, 55)
# tuple_1[1] = [222, 22] # neveiks
tuple_1[1][-1] = 22
print (tuple_1)

(11, [222, 22], 44, 55)

In [195]:
# 2 budas
tuple_1 = (11, [222, 33], 44, 55)
tmp_list = list(tuple_1)
print(tmp_list)
tmp_list[1] = [222, 22]
tuple_1 = tuple(tmp_list)
print (tuple_1)

[11, [222, 33], 44, 55]
(11, [222, 22], 44, 55)

In [199]:
print (type(tuple_1))
print (type( () ))

<class 'tuple'>
<class 'tuple'>

# Range

In [203]:
my_numbers = range(54, 158, 3)
print (type(my_numbers) )
print (my_numbers)
print ( list(my_numbers) )

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [206]:
print (list( range(50, -158, -7) ))
print (list( range(20, 81, 2) ))

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [207]:
cities

['Panevezys',
 'Panevezys',
 'Marijampole',
 'Siauliai',
 'Klaipeda',
 'Kaunas',
 'Vilnius']

In [215]:
print (list(range(3,11,2)))
for number in range(3,11,2):
    print ('ciklas prasidejo')
    print (number)
print ('pabaiga')

[3, 5, 7, 9]
ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9
pabaiga