In [1]:
name = 'Darius'
surname = "Grigaliunas"
print(name, surname)
print(f'Mano vardas yra {name}, o pavarde {surname}')

Darius Grigaliunas
Mano vardas yra Darius, o pavarde Grigaliunas

In [5]:
text =  'Python makes me really really happy! To '
print (text.upper())
print (text.replace('Python', 'PyThOn'))

print (text.replace('t', 'T').replace('o','O') )

PYTHON MAKES ME REALLY REALLY HAPPY! TO
PyThOn makes me really really happy! To
PyThOn makes me really really happy! TO

In [19]:
text = 'Hello happy World, I am to learn Python!'
word_to_find = 'to'

print(text.index('happy'))
print(text[28:33])
print(text[ text.index('happy') : 33])
print(text[ text.index('happy') : text.index('happy') + len('happy')])

print(text[ text.index( word_to_find ) : text.index( word_to_find ) + len(word_to_find)])

print (len(text) )

6
earn
happy World, I am to learn
happy
to
40

In [20]:
dist_moon = 384000 #km

car_speed_h = 150 #km/h
car_speed_y = car_speed_h * 24 * 365
car_speed_m = car_speed_h * 24 * 30
car_speed_d = car_speed_h * 24
car_speed_s = car_speed_h / 60 / 60

print (car_speed_h, 'km/hours')
print (car_speed_y, 'km/years')
print (car_speed_m, 'km/months')
print (car_speed_d, 'km/days')
print (car_speed_s, 'km/seconds')

print ('metų:', dist_moon / car_speed_y)
print ('mėnesių:', dist_moon / car_speed_m)
print ('dienų:', dist_moon / car_speed_d)
print ('sekundžių:', dist_moon / car_speed_s)

150 km/hours
1314000 km/years
108000 km/months
3600 km/days
0.041666666666666664 km/seconds
metų: 0.2922374429223744
mėnesių: 3.5555555555555554
dienų: 106.66666666666667
sekundžių: 9216000.0

In [39]:
# import datetime
from datetime import date, datetime

# birthday = date(1983, 5, 25)
birthday = datetime(1983, 5, 25)
print (birthday)
today = datetime.today()
print (today)
skirtumas = (today - birthday)
print (type(skirtumas))
print (f'Dienu skaicius nuo gimtadienio: {skirtumas.days}')
print (f'Sekundziu skaicius nuo gimtadienio: {skirtumas.total_seconds()}')

1983-05-25 00:00:00
2022-02-21 18:58:21.593190
<class 'datetime.timedelta'>
Dienu skaicius nuo gimtadienio: 14152
Sekundziu skaicius nuo gimtadienio: 1222801101.59319

In [47]:
my_tuple = (1,5846,3,74) + (4,68,4,8,7,4)
print(my_tuple)
my_tuple = my_tuple[:-1]
print(my_tuple)
my_tuple = tuple( sorted( my_tuple ) )
print(my_tuple)
print(my_tuple.count(4))
print(my_tuple[-1])
print( max(my_tuple) )

(1, 5846, 3, 74, 4, 68, 4, 8, 7, 4)
(1, 5846, 3, 74, 4, 68, 4, 8, 7)
(1, 3, 4, 4, 7, 8, 68, 74, 5846)
2
5846
5846

In [48]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [51]:

for city in cities:
    print(f'Sveikiname {city} su kazkokia svente')
    print('pradedam sekancia ciklo iteracija')
print('po ciklo')

Sveikiname Vilnius su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Kaunas su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Siauliai su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Marijampole su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
po ciklo

In [52]:
for number in range(1,11):
    print (number)

1
2
3
4
5
6
7
8
9
10

In [55]:
suma = 0
for number in range(1,51):
    suma += number
    # print(suma)
print(suma)

1275

In [58]:
input_number = int( input('Iveskite skaiciu: ') )
print (input_number)

for number in range(1, 11):
    print(f'{input_number} * {number} = {input_number * number}')

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [63]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    for valanda in valandos:
        kombinacijos.append( (diena,valanda) )
        # print ('antra ciklas',diena,valanda)
    # print (diena, valanda)
print( kombinacijos )

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

# If salyga

In [70]:
x = 5
if x > 2:
    print('x yra daugiau uz du')

print ('po if salygos')

x yra daugiau uz du
po if salygos

In [72]:
x = 0
if x > 2:
    print('x yra daugiau uz du')
else:
    print ('x nera daugiau uz du')

x nera daugiau uz du

In [75]:
x = 0
y = 38

if x> 10:
    print('if salyga atitinka')
elif x > 0 and y > 10:
    print('atitinka elif salyga')
elif x > -5 and y > 30:
    print('atitinka antra elif salyga')
else:
    print ('else salyga')

print ('po if salygos')

atitinka antra elif salyga
po if salygos

In [78]:
for number in range(1,21):
    if number % 3 == 0:
        print (number)

3
6
9
12
15
18

In [81]:
suma = 0
for number in range(1,51):
    if (suma + number) % 2 == 0:
        suma += number
    # print(suma) # Ctrl + /
print(suma)

650

In [87]:
input_number = int( input('Iveskite skaiciu: ') )
print (input_number)

if (input_number ** 2) % 2 != 0:
    for number in range(1, 11):
        print(f'{input_number} * {number} = {input_number * number}')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [92]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

darbo_dienos = ['Pirmadienis', 'Treciadienis', 'Ketvirtadienis']
darbo_valandos = list( range(12,18) )

kombinacijos = []

for diena in dienos:
    # if diena == 'Pirmadienis' or diena == 'Treciadienis':
    if diena in darbo_dienos:
        for valanda in valandos:
            if valanda in darbo_valandos:
                kombinacijos.append( (diena,valanda) )
        # print ('antra ciklas',diena,valanda)
    # print (diena, valanda)
print( kombinacijos )

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17)]

# None

In [93]:
niekas = None
print (niekas)
print (type(niekas))

None
<class 'NoneType'>

In [94]:
user_name = ''
user_name = input('Irasykite varda')

if user_name:

In [95]:
print (name)

In [97]:
name = None
# name = ""
for i in range(5):
    if name == None:
        print(f"variable 'name' has no value (None), assigning name")
        value = input("Enter your name:")
        if value:
            name = value
    else:
        print(f"variable 'name' has value of {name}")

variable 'name' has no value (None), assigning name
variable 'name' has no value (None), assigning name
variable 'name' has no value (None), assigning name
variable 'name' has no value (None), assigning name
variable 'name' has value of Darius

In [98]:
print (name)

Darius

# List comprehension

In [100]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
        # print(number)
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [107]:
print (numbers)
dividible_by_3 = [ number/2 for number in numbers ]
print (dividible_by_3)
dividible_by_3 = [ number for number in numbers if number % 3 == 0 ]
print (dividible_by_3)
dividible_by_3 = [ number ** 2 for number in numbers if number % 3 == 0 ]
print (dividible_by_3)
dividible_by_3 = [ (number, number ** 2) for number in numbers if number % 3 == 0 ]
print (dividible_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]
[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]
[(3, 9), (6, 36), (9, 81), (12, 144), (15, 225), (18, 324)]

In [109]:
dividible_by_3 = [ number if number % 3 == 0 else 100 for number in numbers ]
print (dividible_by_3)

[100, 100, 3, 100, 100, 6, 100, 100, 9, 100, 100, 12, 100, 100, 15, 100, 100, 18, 100, 100]

In [111]:
x_axis = [1,2,3,4]
y_axis = (5,4,8,3)
mult = [ x*y for x in x_axis for y in y_axis ]
print(mult)
mult = [ x*y for x,y in zip(x_axis, y_axis) ]
print(mult)

[5, 4, 8, 3, 10, 8, 16, 6, 15, 12, 24, 9, 20, 16, 32, 12]
[5, 8, 24, 12]

# Dictionary

In [113]:
my_dictionary = {
    'name': 'Darius',
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis', 'football', 'games']
}

In [115]:
print (my_dictionary)
print (type(my_dictionary))

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 26, 'hobbies': ['tennis', 'football', 'games']}
<class 'dict'>

In [117]:
print (my_dictionary['name'])
print (my_dictionary['hobbies'])

Darius
['tennis', 'football', 'games']

In [118]:
my_dictionary['age'] = 25
print (my_dictionary)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games']}

In [120]:
my_dictionary['city'] = 'Vilnius'
print (my_dictionary)
print ( len(my_dictionary) )

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}
5

### Dictionary is mutable

In [ ]:
my_dictionary.copy() #

In [122]:
print (my_dictionary.get('city') )

Vilnius

In [123]:
print (my_dictionary['car'] )

KeyError: 'car'

In [125]:
print (my_dictionary.get('car') )
print (my_dictionary.get('car', 'No car') )

None
No car

In [126]:
print (my_dictionary)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}

In [129]:
my_dictionary[10] = 'desimt'
print (my_dictionary)
print (my_dictionary.pop(10) )
print (my_dictionary)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius', 10: 'desimt'}
desimt
{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}

In [130]:
my_dictionary[None] = 'niekas'
print (my_dictionary)
key, value =  my_dictionary.popitem()
print (my_dictionary)
print (key, value)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius', None: 'niekas'}
{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'football', 'games'], 'city': 'Vilnius'}
None niekas

In [133]:
new_dictionary = {
    'name': 'Darius',
    'age': 20,
    'hobbies': ['tennis', 'games'],
    'age': 26,
}

my_dictionary.update(new_dictionary)

In [134]:
print (my_dictionary)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 26, 'hobbies': ['tennis', 'games'], 'city': 'Vilnius'}

In [135]:
for value in my_dictionary.values():
    print (value)

Darius
Grigaliunas
26
['tennis', 'games']
Vilnius

In [136]:
for key in my_dictionary.keys():
    print (key)

name
surname
age
hobbies
city

In [138]:
for k, v in my_dictionary.items(): # k - key, v - value
    print (f'key {k} has a value of: {v}')

key name has a value of: Darius
key surname has a value of: Grigaliunas
key age has a value of: 26
key hobbies has a value of: ['tennis', 'games']
key city has a value of: Vilnius

In [ ]:
poped_values = []
car = my_dictionary.pop('car')
name = my_dictionary.pop('name')

In [139]:
user = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "source": '',
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  }
}

In [141]:
user["user"]['profile_image_url']

'http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg'

In [143]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [144]:
print(car["brand"])
print(len(car))
car["year"] = 2022
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [145]:
car['color'] = 'red'
car['used'] = True
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [148]:
car.update( {'color': 'red', 'used': True } )
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [149]:
car ={
  "brand": "Ford",
  "year": 1992,
  'color': 'red',
  'used':  True
}

car.pop('brand')
car['year'] = None
print (car)

{'year': None, 'color': 'red', 'used': True}